@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background: -webkit-linear-gradient(-135deg, #292826, #8899ec);
    background: -o-linear-gradient(-135deg, hsl(305, 8%, 31%), #8899ec);
    background: -moz-linear-gradient(-135deg, #292826, #8899ec);
    background: linear-gradient(-135deg, #292826, #8899ec); */
  }
  
code {
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
  
.app-container {
    width: 100%;  
    min-height: 100vh;
    padding: 0px;
    background: #000000;

    /* background-image: url('./bg6.jpeg'); */

}
  
  
.wrap-profile {
    width: 100%;
    min-height: 100vh;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
}
 
.user-info small,
.job-cards small {
    display: inline;
    line-height: 1.428571429;
    color: #999;
}

.user-photo img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.role{
    margin-bottom: 10px;
    display: block;
    line-height: 1.428571429;
    color: #999;
    margin-top: 10px;
}

.card{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 10px;
}

.user-bio{
    position: fixed;
    top: 80px;
}

.job-cards .card-footer{
    background-color: transparent;
}

.job-cards .card-footer .button-more{
    float: right;
}

.job-cards .card-footer span{
    float: left;
}

/*** interview **/
.card-header i{
    float: right;
}   

.interview-summary table tr td:first-of-type{
    width: 20%;
}

.back-arrow{
    cursor: pointer;
}


/*** start navbar ***/


.nav__links li,
.nav__links a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    /* display: flex; */
    /* justify-content: flex-end; */
    align-items: center;
    padding: 20px 10px 10px;
}

header nav{
    float: right;
}

header .logo{
    padding-left: 20px;
    width: 150px;
    cursor: pointer;
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a:hover{
    color: #c309b1;
}

.nav__links .active{
    color: #c309b1;
}


/* nav{
color : #000;
background-color: #f00;
} */

/* .nav-item .nav-link{
    color: #000;
} */

/* .nav nav{
    width: 100%;
    background: #202020;
}
.nav .logo{
    width: 120px;
}
.nav .nav-item{
    background: #f00;
}
 */

/*** end navbar **/

/*** start login page ***/

.wrap-login{
    height: 100%;
}
.wrap-login .card{
    margin: 0;
    color: #fff;
    min-height: 100vh;
    padding: 50px;
    background-color: #0D0F12;
}

/* .card-body,
.card-text{
    background-color: transparent;
} */

/* .wrap-login .card .header{
    font-family: serif;
    padding: 0px 50px;
} */
/* .wrap-login .header img{
    max-width: 100%;
} */

/* .wrap-login .header .logo{
    color: #c309b1;
    text-decoration: underline;
} */


.wrap-login .card label{
    /* background-color: transparent; */
    color: rgb(184, 183, 183);
    font-size: 13px;
    margin: 0;
}

.wrap-login .card input{
    background-color: transparent !important;
    color: rgb(184, 183, 183);
}

/* .wrap-login .card input:focus{
    background-color: transparent !important;
}

.wrap-login .card input:active{
    background-color: transparent !important;
} */

.wrap-login form button{
    color: rgb(184, 183, 183);
    margin: 30px 0;
    width: 100%;
    background-color: #0074AB;
}

.wrap-login hr{
    background-color: rgb(184, 183, 183);
}
.wrap-login .links{
    margin-top: 5px;
    font-size: 13px;
    color: #0074AB;
}

.wrap-login .login-image{
    font-family: sans-serif;
    color: #fff;
    padding: 100px;
    width: 60%;
    font-size: 25px;
    text-align: left;
    position: fixed;
}

.wrap-login .login-image img{
    width: 430px;
    padding: 50px 0 0 100px ;
}

.colord-text{
    color: #c309b1;
}
/*** end login page ***/


.jobs-container .card{
    color: #fff;
    padding: 0;
    margin: 0 0 8px;
    font-size: 16px;
    background-color: #222222;
}

.jobs-container button,
.search-box button{
    background: #c309b1;
    border: none;
    color: #fff;
}

.jobs-container .card-title{
    color: #c309b1;
}

.jobs-container .card hr{
    background: rgb(184, 183, 183);
}

.jobs-container .positoin-image{
    /* position: fixed; */
    padding-top: 25px;
    width: 80%;
    /* top: 180px; */
    font-family: sans-serif;
    color: #fff;
    font-size: 20px;
}

.jobs-container .positoin-image img{
    width: 400px;

}

/*** end display jobs ****/


/**** start search box ****/
.search-box{
    width: 100%;
    margin: 0px ;
    /* position: fixed;
    top: 60px; */
    padding: 30px;
    /* background: url('./search-box.jpg'); */
    /* background-size: cover; */
}

.search{
    color: #fff;
}

.search-box .row{
    padding: 0 100px;
}

.search-box input{
    background-color: transparent !important;
    /* color: #f00; */

}

/*** end search box ***/

/** start interview room **/
.inerview-room{
    width: 100%;
    height: 100vh;
    padding: 30px;

}
.inerview-room .card{
    padding: 0 10px;
    width: 800px;
    height: 500px;
    margin: 5px auto;
}

.inerview-room .card-header{
    padding: 0 15px;
    background: #c309b1;
    color: #0f0;
    font-weight: bold;
    font-family: sans-serif;
}

.inerview-room .card-header span{
    font-weight: bold;
    font-size: 50px;
}
.inerview-room img{
    width: 250px;
}

.inerview-room .listen i{
    padding: 30px 0px;

}

.questions{
    margin-top: 20px;
}

#answer{
    height: 80px;
    margin-top: 86px;
}

#microphone-btn{
    margin-top: 110px;
}

.action-buttons{
    margin: 30px 0;
}

.exit-interview{
    width: 90%;
}
/** end interview room **/


